## Seleção de característica

In [1]:
import seaborn as sns

In [2]:
mpg = sns.load_dataset('mpg')

In [3]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
mpg = mpg.select_dtypes('number').dropna()
mpg.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [5]:
X = mpg.drop('mpg', axis= 1)
y = mpg['mpg']

X.head()

   cylinders  displacement  horsepower  weight  acceleration  model_year
0          8         307.0       130.0    3504          12.0          70
1          8         350.0       165.0    3693          11.5          70
2          8         318.0       150.0    3436          11.0          70
3          8         304.0       150.0    3433          12.0          70
4          8         302.0       140.0    3449          10.5          70

In [6]:
from sklearn.feature_selection import SelectKBest

Vamos utilizar a estatitistica f como métrica

In [8]:
from sklearn.feature_selection import f_regression

In [9]:
selector = SelectKBest(f_regression, k=2)
selector.fit(X,y)

SelectKBest(k=2, score_func=<function f_regression at 0x7f062d19b9d0>)

In [13]:
X.columns[selector.get_support()]

Index(['displacement', 'weight'], dtype='object')